# C++ outputs
*.o
*.out
build/
opencv_build/

# VSCode files
.vscode/

# Zip files
*.zip

# Dataset
data/*
!data/data_processing
data/data_processing/*
!data/data_processing/*.sh
!data/data_processing/*.py

# Torch for C++
libtorch

# Python stuff
__pycache__/

# img Outputs
output/
CMakeLists.txt
CMakeLists.txt
dataset/Images/im1.jpg
dataset/Images/im2.jpg
dataset/Images/im3.jpg
dataset/Images/im4.jpg
dataset/Images/im5.jpg
dataset/Images/im6.jpg
dataset/Images/im7.jpg
dataset/Images/im8.jpg
dataset/Images/im9.jpg
dataset/Images/im10.jpg
dataset/Images/im11.jpg
dataset/Images/im12.jpg
dataset/Images/im13.jpg
dataset/Images/im14.jpg
dataset/Images/im15.jpg
dataset/Masks/im1_bb.txt
dataset/Masks/im1_bin.png
dataset/Masks/im1_color.png
dataset/Masks/im2_bb.txt
dataset/Masks/im2_bin.png
dataset/Masks/im2_color.png
dataset/Masks/im3_bb.txt
dataset/Masks/im3_bin.png
dataset/Masks/im3_color.png
dataset/Masks/im4_bb.txt
dataset/Masks/im4_bin.png
dataset/Masks/im4_color.png
dataset/Masks/im5_bb.txt
dataset/Masks/im5_bin.png
dataset/Masks/im5_color.png
dataset/Masks/im6_bb.txt
dataset/Masks/im6_bin.png
dataset/Masks/im6_color.png
dataset/Masks/im7_bb.txt
dataset/Masks/im7_bin.png
dataset/Masks/im7_color.png
dataset/Masks/im8_bb.txt
dataset/Masks/im8_bin.png
dataset/Masks/im8_color.png
dataset/Masks/im09_bb.txt
dataset/Masks/im09_bin.png
dataset/Masks/im09_color.png
dataset/Masks/im10_bb.txt
dataset/Masks/im10_bin.png
dataset/Masks/im10_color.png
dataset/Masks/im11_bb.txt
dataset/Masks/im11_bin.png
dataset/Masks/im11_color.png
dataset/Masks/im12_bb.txt
dataset/Masks/im12_bin.png
dataset/Masks/im12_color.png
dataset/Masks/im13_bb.txt
dataset/Masks/im13_bin.png
dataset/Masks/im13_color.png
dataset/Masks/im14_bb.txt
dataset/Masks/im14_bin.png
dataset/Masks/im14_color.png
dataset/Masks/im15_bb.txt
dataset/Masks/im15_bin.png
dataset/Masks/im15_color.png
