# C++ outputs
*.o
*.out
build/
opencv_build/

# VSCode files
.vscode/

# Zip files
*.zip

# Dataset
data/*
!data/data_processing
data/data_processing/*
!data/data_processing/*.sh
!data/data_processing/*.py

# Torch for C++
libtorch

# Python stuff
__pycache__/

# img Outputs
output/
CMakeLists.txt
