# C++ outputs
*.o
*.out
build/

# Dataset
data/*
!data/data_processing
data/data_processing/*
!data/data_processing/*.sh
!data/data_processing/*.py

# Python stuff
__pycache__/

# img Outputs
output/

# Models
models/
